
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: blue;
    color: rgb(173, 9, 9);
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}